@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --accent-primary: hsl(342, 76%, 50%);
        --accent-secondary: hsl(342, 0%, 50%);
        --bg-primary: hsl(342, 0%, 10%);
        --bg-secondary: hsl(342, 0%, 20%);
        --fg-primary: hsl(342, 9.5%, 93.75%);
        /* ... */
    }
}

.bg-primary {
    background: var(--bg-primary);
}

.bg-secondary {
    background: var(--bg-secondary);
}

.accent-primary {
    background: var(--accent-primary);
}

.accent-secondary {
    background: var(--accent-secondary);
}